<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home"><img src="../../../../assets/marahub.png" alt="" class="marahub"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/Home">QAlbum <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <form class="form-inline my-2 my-lg-0 thanhSearch">
            <input class="form-control mr-sm-2 placeSearch" type="search" placeholder="Search by name" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </li>
        <li class="nav-item active xitlen">
          <a class="nav-link" routerLink=""><button type="button" class="btn btn-outline-secondary">Upload photo</button></a>
        </li>
        <li class="nav-item active xitlen">
          <a class="nav-link" routerLink="/creatAlbum"><button type="button" class="btn btn-outline-secondary">Creat Album  </button></a>
        </li>
      </ul>
    </div>
  </nav>