<!--Login-->
<div class="card">
    <div class="card-header">
      Login
    </div>
    <div class="card-body">
      <!--login form-->
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">User name</label>
          <input class="form-control" type="text" placeholder="">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <button type="button" class="btn btn-primary register">Register</button>
      </form>
      <!--//login form-->

      <!--welcome form-->
      <h3>Welcome Quang</h3>
      <button type="submit" class="btn btn-primary">Logout</button>
      <!--welcome form-->
    </div>
  </div>
  <!--//login-->